.jumbotron{
    color: black;
    background-image: url("../images/red-paper-texture-background.jpg") ;
    background-size: 100%;

    background-repeat: no-repeat;
}

.card{
    margin-bottom: 20px;
}
